shadow()
  box-shadow 0 .1em .2em rgba(#000, .4)

.example
  shadow()
  color #333
  padding 1em
  background #fff
  text-align center

  h1
    margin .25em

  input
    shadow()
    border 0
    margin 1em 0
    padding .4em
